<header class="bar bar-nav">
  <a class="icon icon-info pull-right" href="/about"></a>
  <h1 class="title">Sign In</h1>
</header>
<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">

    <div class="media-object" align="center">
      <img src="http://1.bp.blogspot.com/-WiG3eTSY3Ro/UoJw30z7jII/AAAAAAAACtU/B_yy22RMQQ4/s72-c/time-bank.png">
    </div>
    <form class="input-group">
      <div class="input-row">
        <label>Email</label>
        <input type="email" placeholder="example@google.com">
      </div>
      <div class="input-row">
        <label>Password</label>
        <input type="password" placeholder="*********">
      </div>
      <a href="/tasks" >
        <button class="btn btn-primary btn-block" method="post">Log In</button>
      </a>
    </form>

    <p align="center">
      <a href="/signup" >
        SIGN UP TODAY!
      </a>
    </p>
</div>
