<header class="bar bar-nav">
  <a class="icon icon-info pull-right" href="/about"></a>
  <h1 class="title">Sign In</h1>
</header>
<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
   <div class="media-object" align="center">
      <img src="http://1.bp.blogspot.com/-WiG3eTSY3Ro/UoJw30z7jII/AAAAAAAACtU/B_yy22RMQQ4/s72-c/time-bank.png">
    </div>
    <form  name="loginForm" class="input-group" action="/login" method="post">
      <div class="input-row">
        <label>Email</label>
        <input type="email" name="username" placeholder="example@google.com" required="required"/>
      </div>
      <div class="input-row">
        <label>Password</label>
        <input type="password" name="password" placeholder="*********"  required="required"/>
      </div>
      <input type="submit" value="Log In" class="btn btn-primary btn-block btn-login"/>
    </form>

    <p align="center">
      <a href="/signup" data-ignore="push">
        SIGN UP TODAY!
      </a>
    </p>
</div>
