<header class="bar bar-nav">
  <a class="icon icon-info pull-right" href="/about"></a>
  <h1 class="title">Sign In</h1>
</header>
<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">

    <script>
      function validateForm() {
        var user = document.forms["loginForm"]["username"].value;
        var password = document.forms["loginForm"]["password"].value;

        var atpos = user.indexOf("@");
        var dotpos = user.lastIndexOf(".");
        
        if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=x.length) {
            alert("Not a valid e-mail address");
            return false;
        }
        
        if (password == null || password == "") {
        alert("First name must be filled out");
        return false;
        }
    }

    </script>

    <div class="media-object" align="center">
      <img src="http://1.bp.blogspot.com/-WiG3eTSY3Ro/UoJw30z7jII/AAAAAAAACtU/B_yy22RMQQ4/s72-c/time-bank.png">
    </div>
    <form  name="loginForm" class="input-group" action="/login" method="post" onsubmit="return validateForm();">
      <div class="input-row">
        <label>Email</label>
        <input type="text" name="username" placeholder="example@google.com"/>
      </div>
      <div class="input-row">
        <label>Password</label>
        <input type="password" name="password" placeholder="*********"/>
      </div>
      <input type="submit" value="Log In" class="btn btn-primary btn-block"/>
    </form>

    <p align="center">
      <a href="/signup" >
        SIGN UP TODAY!
      </a>
    </p>
</div>
