  <header class="bar bar-nav">
    <a class="icon icon-info pull-right" href="/about"></a>
    <a class="icon icon-left-nav pull-left" href="/"></a>
    <h1 class="title">Signup</h1>
  </header>
  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <div class="content-padded">
    <form class="input-group">
      <div class="input-row">
        <label>Full name</label>
        <input type="text" placeholder="Your Name">
      </div>
      <div class="input-row">
        <label>Age</label>
        <input type="number">
      </div>
      <div class="input-row">
        <label>Email</label>
        <input type="email" placeholder="example@email.com">
      </div>
      <div class="input-row">
        <label>Repeat Email</label>
        <input type="email" placeholder="example@email.com">
      </div>
      <div class="input-row">
        <label>Username</label>
        <input type="text" placeholder="YourUsername">
      </div>
      <div class="input-row">
        <label>Country</label>
        <input type="text">
      </div>
      <div class="input-row">
        <label>City</label>
        <input type="text">
      </div>
      <div class="input-row">
        <label>Zip Code</label>
        <input type="number">
      </div>
      <div class="input-row">
        <label>Phone</label>
        <input type="number" placeholder="+1-234-567-8900">
      </div>
      <br>
      <a href="/tasks">
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
      </a>
    </form>
  </div>
</div>
