  <header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="/"></a>
    <a class="icon icon-info pull-right" href="/about_us"></a>
    <h1 class="title">Profile</h1>
        <nav class="bar bar-tab">
      <a class="tab-item active" href="/tasks">
        <span class="icon icon-search"></span>
        <span class="tab-label">Jobs</span>
      </a>

      <a class="tab-item" href="/profile/tasks">
        <span class="icon icon-pages"></span>
        <span class="tab-label">Manage jobs</span>
      </a>
      <a class="tab-item" href="/profile">
        <span class="icon icon-person"></span>
        <span class="tab-label">Profile</span>
      </a>
      <a class="tab-item" href="/task/new">
        <span class="icon icon-plus"></span>
        <span class="tab-label">Add Job</span>
      </a>
      <a class="tab-item" href="/disqus">
        <span class="icon icon-list"></span>
        <span class="tab-label">Chat</span>
      </a>
    </nav>
  </header>
  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <div class="content-padded">
      <img class="media-object pull-right" src="https://i.imgur.com/HlJEdXx.jpg" width="150px">
      <p>Username: Ori Raz</p>
      <p>Email: ori.raz@idc.ac.il</p>
      <p>Country: Israel</p>
      <p>City: Tel Aviv</p>
      <p>Coins Balance: 200</p>
      <hr />
      <h4>About me<button class="btn pull-right">
        <span class="icon icon-edit"></span>
        Edit
      </button></h4>
      <p>I'm a great handy man for any fix that needs to be done in the house. As well I'm great with technology and can be in help for all kind of problems and installations.</p>
      <h4>Your Video</h4>
      <button class="btn btn-negative">
        <span class="icon icon-share"></span>
        Upload a video
      </button>
      <p style="font-size:x-small;">Your video is the best way to show the community what you have to offer.</p>
      <h4>Gallery</h4>
      <p style="font-size:x-small;">A picture worth a 1,000 words. Upload photos or portfolio pieces of your work.</p>
      <div class="slider" id="mySlider">
        <div class="slide-group">
          <div class="slide" align="center">
            <img src="https://i.imgur.com/k9SWFZ2.jpg">
            <span class="slide-text">
          </div>
          <div class="slide" align="center">
            <img src="https://i.imgur.com/v0yQF1u.jpg">
          </div>
          <div class="slide" align="center">
            <img src="https://i.imgur.com/VDXg5cR.jpg">
          </div>
        </div>
      </div>
      <button class="btn btn-negative">Upload</button>
      <br>
      <br>
      <br>
    </div>
  </div>
