<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" href="/tasks"></a>
  <h1 class="title">Profile</h1>
      <nav class="bar bar-tab">
    <a class="tab-item" href="/tasks">
      <span class="icon icon-search"></span>
      <span class="tab-label">Tasks</span>
    </a>
    <a class="tab-item" href="/user/tasks">
      <span class="icon icon-pages"></span>
      <span class="tab-label">Manage Tasks</span>
    </a>
    <a class="tab-item active" href="/user">
      <span class="icon icon-person"></span>
      <span class="tab-label">Profile</span>
    </a>
    <a class="tab-item" href="/task/new">
      <span class="icon icon-plus"></span>
      <span class="tab-label">Add Task</span>
    </a>
    <a class="tab-item" href="/chat" data-ignore="push">
      <span class="icon icon-list"></span>
      <span class="tab-label">Chat</span>
    </a>
  </nav>
</header>

<div class="content">
  <div class="content-padded">
    <img class="media-object pull-right" src="https://i.imgur.com/HlJEdXx.jpg" width="100px">
    <p>Email: <%= req.user[0].email %></p>
    <p>Address: <%= req.user[0].address %></p>
    <p>Coins Balance: <%= req.user[0].balance %></p>
    <hr />
      <a href="/user/edit" class="btn pull-right">
        <span class="icon icon-edit"></span>
        Edit
      </a>
  </div>
</div>
