<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left" href="/"></a>
  <a class="icon icon-info pull-right" href="/about"></a>
  <h1 class="title">Profile</h1>
  <nav class="bar bar-tab">
    <a class="tab-item" href="/task">
      <span class="icon icon-search"></span>
      <span class="tab-label">Tasks</span>
    </a>
    <a class="tab-item" href="/user/tasks">
      <span class="icon icon-pages"></span>
      <span class="tab-label">Manage Tasks</span>
    </a>
    <a class="tab-item" href="/user">
      <span class="icon icon-person"></span>
      <span class="tab-label">Profile</span>
    </a>
    <a class="tab-item" href="/task/new">
      <span class="icon icon-plus"></span>
      <span class="tab-label">Add Task</span>
    </a>
    <a class="tab-item" href="/chat">
      <span class="icon icon-list"></span>
      <span class="tab-label">Chat</span>
    </a>
  </nav>
</header>

<div class="content">
  <div class="content-padded">
    <img width="90" height="90" class="picture_right" align="right" src="http://gotelbotel.com/nati/blog/wp-content/uploads/2010/11/shot_1290113084232.jpg">
    <p>Name: Nati Ornan</p>
    <p>Country: Israel</p>
    <p>City: Tel Aviv</p>
    <hr />
    <p>I am the best dog walker there is. I am very kind to the dogs and love them with all of my heart. You can ask anyone.</p>
    <h4>Nati's Video</h4>
    <p align="center">
    <iframe width="250" height="315" src="//www.youtube.com/embed/DeDjoEHGEHY?list=PL09CE956DD08C178F" frameborder="0"></iframe>
    </p>
    <h4>Gallery</h4>
    <div class="slider" id="mySlider">
      <div class="slide-group">
        <div class="slide">
          <span class="slide-text">
            <span class="icon icon-left-nav"></span>
            Slide
          </span>
        </div>
        <div class="slide">
          <img  width="150" height="150" src="http://wehaveinternets.files.wordpress.com/2010/05/alg_dogwalker.jpg">
        </div>
        <div class="slide">
          <img  width="150" height="150" src="http://sohopetcare.com/wp-content/uploads/2014/02/The_dog_walker.png">
        </div>
      </div>
    </div>
  </div>
</div>
