  <header class="bar bar-nav">
    <a class="icon icon-left-nav pull-left" href="/"></a>
    <h1 class="title">About Us</h1>
  </header>
  <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
  <div class="content">
    <div class="content-padded" align="center">


      <a  href="http://www.linkedin.com/profile/view?id=103056323&authType=NAME_SEARCH&authToken=VeOB&locale=en_US&srchid=1030563231398282657723&srchindex=1&srchtotal=1&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A1030563231398282657723%2CVSRPtargetId%3A103056323%2CVSRPcmpt%3Aprimary">

        <div class="media-body">
          <strong>Jonathan Yarkoni</strong>
          <p>Rails & Android developer</p>
          <p><img class="media-object" src="https://i.imgur.com/SIgOGld.png" width="100px" height="100px"> </p>
        </div>
      </a>


      <a href="http://www.linkedin.com/profile/view?id=157836657&locale=en_US&trk=tyah2&trkInfo=tarId%3A1398282736411%2Ctas%3Aroy%20ya%2Cidx%3A1-2-2">

        <div class="media-body">
          <strong>Roy Yanai</strong>
          <p>King of the IDC hackathon. Long live the king!</p>
          <p><img class="media-object" src="https://i.imgur.com/F4zfW6i.png" width="100px" height="100px"></p>
        </div>

      </a>


      <p>
       <a  href="http://www.linkedin.com/profile/view?id=11464187&authType=NAME_SEARCH&authToken=I258&locale=en_US&srchid=1030563231398282564540&srchindex=1&srchtotal=11&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A1030563231398282564540%2CVSRPtargetId%3A11464187%2CVSRPcmpt%3Aprimary">

        <div class="media-body">
          <strong>Ori Raz</strong>
          <p>Rails developer & java master. CISCO ftw!</p>
          <p><img class="media-object" src="https://i.imgur.com/HlJEdXx.jpg" width="100px" height="100px"></p>
        </div>
      </a>
    </p>
  </div>
</div>
